// PC用
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  .header {
    &__top {
      height: 30px;
      background-color: $top_color;
      padding-right: 30px;
      text-align: right;
      .home_link {
        line-height: 30px;
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin-right: 20px;
      }
      .text_link {
        line-height: 30px;
        color: white;
        text-decoration: none;
        margin-right: 20px;
        cursor: pointer;
      }
      .icon_link {
        display: none;
      }
    }
  }
}

// スマホ用
@media screen and (max-width: 766px) { /*ウィンドウ幅が最大766pxまでの場合に適用*/
  .header {
    &__top {
      height: 21px;
      background-color: $top_color;
      text-align: right;
      .home_link {
        line-height: 20px;
        color: white;
        font-size: 15px;
        text-decoration: none;
        margin-right: 12px;
      }
      .text_link {
        display: none;
      }
      .icon_link {
        line-height: 20px;
        font-size: 15px;
        color: white;
        text-decoration: none;
        margin-right: 12px;
        cursor: pointer;
      }
    }
  }
}
