.wrapper {
  height: 100%;
  width: 100%;

  .header {
    color: white;
    &__main {
      height: 100%;
      background-color: $main_color;
      display: flex;
      &__left {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 210px;
        height: 100%;
        width: 40%;
        &--top {
          font-size: 60px;
          font-weight: bold;
        }
        &--center {
          margin-top: 10px;
          font-size: 20px;
          padding-left: 20px;
        }
      }
      &__right {
        display: flex;
        padding-top: 200px;
        padding-left: 40px;
      }
    }
  }

  .main {
    height: 100%;
    background-color: $sub_color;
    padding-bottom: 200px;
    &__top {
      color: $font_color;
      height: 100px;
      padding-left: 300px;
      line-height: 170px;
      font-size: 25px;
      font-weight: bold;
    }
    &__center {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      margin-top: 100px;
      &__content {
        width: 200px;
        &--image {
          height: 200px;
          width: 200px;
          border-radius: 50%;
          background-color: white;
          position: relative;
          .icon {
            position: absolute;
            top: 30px;
            left: 30px;
          }
        }
        &--name {
          color: $font_color;
          margin-top: 40px;
          font-weight: bold;
        }
        &--text {
          color: $font_color;
          margin-top: 20px;
          text-align: left;
        }
        &--btn {
          margin-top: 40px;

          .btn {
            color: $font_color;
            width: 200px;
            height: 40px;
            font-size: 15px;
            line-height: 40px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
